*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background-color: #ade8f4;
}
.container{
    height: 70vh;
    display: flex;
   
    justify-content: center;
    align-items: center;
   
    

}

.game{
    height: 60vmin ;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    background-color: #48cae4;
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    color:#03045e ;
    
}
h1{
    color: #03045e;
}
#reset-btn{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.25rem;
    background-color:#03045e ;
    color:  #ade8f4;
    border-radius: 1rem;
    border: none;
}
#new-btn{
    padding: 1rem;
    margin: 1rem;
    font-size: 1.25rem;
    background-color:#03045e ;
    color:  #ade8f4;
    border-radius: 1rem;
    border: none;
}
#msg{
    color: #edb10c ;
    font-size: 5vmin;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}
.hide{
    display: none;
}